{% extends 'base.html.twig' %}

{% block body %}

<div class="bienvenue">
<h1>Bienvenue sur BlaBlaMiage

{% if app.user.id is defined %}
  {{app.user.prenom}}</h1>

 {% else %}
 </h1>
 {% endif %}



</div>
<section class="img-accueil">
<img src="{{asset('images/car.jpg')}}" alt="imageaccueil"/>
<div id="conteneur_imgaccueil">
 
<p>Me Connecter</p>
<a href="#">Plus d'infos</a>
</div>
</section>



{% endblock %}

