<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}BlaBlaMiage{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    {% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="{{ asset('css/stylesheet.css') }}" type="text/css" rel="stylesheet">{% endblock %} <!--Changer avec un paramètre pour changer de template-->
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    {% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {% endblock %}

    
    

</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BlaBlaMiage</a>
    </div>
    
    <ul class="nav navbar-nav navbar-right">
    <li><a href="#">Proposer un trajet</a></li>
    <li><a href="{{path('utilisateur.list')}}">Voir tous les utilisateurs</a></li>
    <li><a href="{{path('utilisateur.create')}}"><span class="glyphicon glyphicon-user"></span>  Inscription</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>  Connexion</a></li>
      
    </ul>
  </div>
</nav>

<div class="bienvenue">
<h1>Bienvenue sur BlaBlaMiage C'est notre site</h1>

</div>

<div class="img-accueil">
    <img src="{{asset('images/road.jpg')}}" title="route_acueil" alt="route">
</div>
</body>
</html>
