{% extends 'base.html.twig' %}

{% block body %}

<div class="containerAccueil">

<div class="bienvenue">

<h1 class="h1Accueil">Bienvenue sur BlaBlaMiage

{% if app.user.id is defined %}
  {{app.user.prenom}}</h1>

 {% else %}
 </h1>
 {% endif %}


</div>

<button class="buttonAccueil">Connexion</button>
<button class="buttonAccueil">Inscription</button>
<button class="buttonAccueil">Voir tous les trajets</button>

</div>

<div class="dernieresAnnonces">

<h1>Dernières annonces postées</h1>

{% for trajet in trajets %}

<p>{{trajet.id}}</p>
{% if trajet.nbPassagers == 0 %}

<p>Trajet Complet </p>


{% endif %}


{% endfor %}

</div>




{% endblock %}

