{% extends 'base.html.twig' %}

{% block body %}

<p>Nom du conducteur : {{user.nom}}</p>
<p>Marque voiture : {{voiture.marqueVoiture}}</p>


{% if app.user.id != user.id %}
<a href="{{ path('reserveTrajet', {id : trajet.id})}}">Reserver ce trajet</a>
{% endif %}


{% endblock %}