{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Mise à jour</h1>

    {{ form_start(form) }}


        <button class="btn">Mettre à jour</button>
    {{ form_end(form) }}

    
{% endblock %}
